$breakpoints-xs-max: 575px;
$breakpoints-sm-min: 576px;
$breakpoints-sm-max: 767px;
$breakpoints-md-min: 768px;
$breakpoints-md-max: 991px;
$breakpoints-lg-min: 992px;
$breakpoints-lg-max: 1199px;
$breakpoints-xl-min: 1200px;
$breakpoints-xl-max: 1399px;
$breakpoints-xxl-min: 1400px;

$main-color: #333